defmodule Advent.Y<%= year %>.D<%= day_padded %> do
  @moduledoc """
  https://adventofcode.com/<%= year %>/day/<%= day %>
  """

  @doc """
  """
  @spec part_one(Enumerable.t()) :: any()
  def part_one(_input) do
    0
  end

  @doc """
  """
  @spec part_two(Enumerable.t()) :: any()
  def part_two(_input) do
    0
  end

  @spec parse_input(Enumerable.t()) :: any()
  defp parse_input(input) do
    input
  end
end
