defmodule Advent.Y<%= year %>.D<%= day_padded %>Test do
  use TestHelper

  @example_input ~w()

  aoc_test(
    example_input: @example_input
    # p1_example_solution: 0
    # p1_solution: 0
    # p2_example_solution: 0
    # p2_solution: 0
  )
end
